<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<!--css-->
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/grid.css" type="text/css" media="screen">
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
<link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen">
<!--js-->
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js" ></script>
<script type="text/javascript" src="/static/js/superfish.js"></script>
<script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>

<script>
			jQuery(window).load(function() {
			jQuery('.flexslider').flexslider({
				animation: "fade",
				slideshow: true,
				slideshowSpeed: 7000,
				animationDuration: 600,
				prevText: "",
				nextText: "",
				controlNav: false
			})



      });
	</script>


	<!--[if lt IE 8]>
      <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
          <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
       </a>
     </div>
    <![endif]-->

	<!--[if lt IE 9]>
   		<script src="/static/js/html5.js"></script>
  		<link rel="stylesheet" href="/static/css/ie.css">
       <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400' rel='stylesheet' type='text/css'>
	<![endif]-->
<style>
        a {
        color:black;
        text-decoration:none;
        }
    </style>
</head>
<body>

<!--==============================header=================================-->
<header>
  <div class="line-top"></div>
  <div class="main">
    <div class="row-top">
      <h1><a href="{{url_for('home')}}"><img alt="" src="/static/images/logo.png"height="100" width="250"></a></h1>
      <p align="right"><strong><a href="{{url_for('login')}}">Login</a></strong> | <strong><a href="{{url_for('register')}}">Register</a></strong></p>

      <nav>
        <ul class="sf-menu">
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="/quickmeal">Quick Meal</a></li>
          </li>
          <li><a href="/customize">Customize Meal</a> </li>
          <li><a href="{{url_for('about')}}">About Us</a> </li>
          <li><a href="/feedback_without_session">Feedback</a> </li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>
</header>

<div class="border-horiz"></div>
  <!--<div class="container_12 row-1">-->
<div align="center" class="box-contact">
    <h3>THE <strong>DEVELOPMENT</strong> TEAM</h3>
    <div class="coll-1">
    <article class="grid_4 thumbnail-1">
      <h3><span>Simranjit </span> Singh </h3>
      <figure class="box-img"><img src="static/images/simranjit.jpg " alt="" height=200' width='300'/></figure>
      <p></p>
    </article>
    <article class="grid_4 thumbnail-1">
      <h3><span>Osheen</span> Shrivastav </h3>
      <figure class="box-img"><img src="static/images/osheen.jpg " alt="" height='200' width='300'/></figure>
      <p></p>
    </article>
    </div>
    <div class="coll-2">

    <article class="grid_4 thumbnail-1">
      <h3><span>Prajakta</span> Kulkarni </h3>
      <figure class="box-img"><img src="static/images/prajakta.jpg " alt="" height='200' width='300'/></figure>
      <p></p>
    </article>
    <article class="grid_4 thumbnail-1">
      <h3><span>Bhoopesh</span> Kumaar </h3>
      <figure class="box-img"><img src="static/images/bhoopesh.jpg " alt="" height='200' width='300'/></figure>
      <p></p>
    </article>
    </div>
    <div class="clear"></div>
 </div>


</body>
<footer>
  <div class="main">

    <div class="policy">Website designed by <a href="http://www.templatemonster.com" rel="nofollow">Food Techies</a> </div>
    <div class="clear"></div>
  </div>
</footer>
</html>

