<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block body %}
<div class="box-slogan">
        <h3>Welcome to <strong>Food techies</strong> Meal System!</h3>
    </div>
    <div class="box-slider">
        <div class="flexslider">
            <ul class="slides">
                <li> <img alt="" src="/static/images/slide-1.jpg"></li>
                <li> <img alt="" src="/static/images/slide-2.jpg"></li>
            </ul>
        </div>
    </div>

</header>

{% endblock %}
</html>

